body {
    background-color: rgb(245, 218, 63);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkslateblue;
    font-size: 20px;
    margin: 1cm;
}


h1 {
    font-family: 'Courier New', Courier, monospace;
    color: tomato;

}

h2 {
    color: crimson;
    font-family: 'Courier New', Courier, monospace;
}

h3 {
    color: rgb(131, 79, 182);
    font-family: 'Courier New', Courier, monospace;

}

h4 {
    color: rgba(38, 165, 38, 0.938);
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
}

h5 {
    color: rgb(72, 72, 226);
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

a {
    color: indianred;
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

table {
    font-size: 25px;
}


thead th {
    background-color: rgb(173, 240, 173);
    color: midnightblue;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 35px;
}
  
tr {
    background-color: rgb(250, 250, 153);
    font-size: 40px;
}
  
th, td {
    font-family:'Courier New', Courier, monospace;
    padding: 30px;
    text-align: center;
    width: 28%;
    font-size: 22px;
}

ul {
    line-height: 35px;
}


.dark-mode {
    background-color: rgb(19, 9, 9);
    color: whitesmoke;
}